@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
//'Cutive Mono', monospace;
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
//'Gravitas One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
//'Rubik Mono One', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
//'VT323', monospace;

//header font
$header-font: 'Rubik Mono One', sans-serif;
//body font
$body-font:'Cutive Mono', monospace;
//color palette
$white: #fff;
$teal: #16dbe7;
$purple: #8d1dfd;
$pink: #e913a4;
$black: #000000;

// background: rgb(22,219,231);
// background: linear-gradient(90deg, rgba(22,219,231,1) 0%, rgba(141,29,253,1) 50%, rgba(233,19,164,1) 100%);